<form asp-controller="Carimbo"
      asp-action="Gerar"
      method="post">

    <select name="TipoAto">
        <option>Convenio</option>
        <option>Decreto</option>
        <option>Resolucao</option>
        <option>Portaria</option>
    </select>

    <select name="Fonte">
        <option>Municipal</option>
        <option>Estadual</option>
        <option>Federal</option>
    </select>

    <input name="Bloco" placeholder="Bloco" />

    <input name="Numero" placeholder="Número" />
    <input name="Nome" placeholder="Nome" />

    <select name="Banco">
        <option>Itaú</option>
        <option>Bradesco</option>
        <option>Santander</option>
        <option>Banco do Brasil</option>
        <option>Caixa Econômica Federal</option>
    </select>

    <input name="Agencia" placeholder="Agencia" />

    <input name="Conta" placeholder="Conta" />

    <button type="submit">Gerar Carimbo</button>
</form>
