@model List<Banco>

<h2>Bancos</h2>

<a asp-action="Create">Novo Banco</a>

<table>
@foreach (var item in Model)
{
    <tr>
        <td>@item.Nome</td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Editar</a>
            <form asp-action="Delete"
                  asp-route-id="@item.Id"
                  method="post"
                  style="display:inline">
                <button type="submit">Excluir</button>
            </form>
        </td>
    </tr>
}
</table>
